body{
    margin: 0;
    padding: 0;
    background-image: url(images/bg.jpg);
    background-size: cover;
}
.box{
    width: 450px;
    background-color: #6b5858;
    padding:40px ; /*içindekilerle arasında boşluk vermek için*/
    text-align: center; /*yazıları ortaladık*/
    margin: auto; /*otomatik ayarla dedik*/
    margin-top: 5%;
    color: white;
    font-family: sans-serif;
}

.box img{
    width: 170px;
    border-radius: 50%;
    cursor: pointer; /*imleç değiştirme*/
    transition: 0.5s; /*fare üzerine geldiğinde yavaşça olmasını sağladık*/ 
}
.box img:hover{
    transform: scale(0.9); /* fare üzerine geldiğinde içe doğru bi yaklaşma olsun*/
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px; /*Harfler arası mesafeyi ayarlamak için kullanılır. */
    font-weight: 100;
}
.box h5{
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 3px;
}
.box p{
    text-align: justify; /*yazıları iki yana yaslama*/
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    color: white;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box li a:hover{
    color: #b9b9b9;
}

